<template name="signUp">
  <div class="modal-body">
  	<form class="form-horizontal" id="signUp">
  		<div id="email-group" class="control-group">
      	<input type="email" id="email" name="email" placeholder="Email"/>
        <small id='email-error'></small>
			</div>
			<div id="password-group" class="control-group">
      	<input type="password" id="password" name="password" placeholder="Password"/>
        <small id='password-error'></small>
    	</div>
    	<div class="control-group">
      	<button type="submit" value="Submit" class="btn btn-primary">Sign Up</button>
			</div>
		</form>
	</div>
</template>